
<div class="jumbotron text-center fade-in one">
  <div class="video-container">
    <video autoplay loop muted poster="../img/woman-park-still.png" height="450" id="background">
      <!-- Different source file types here -->
      <source src="../img/wifidemand-ClipHD3.webm" type="video/webm">
      <source src="../img/wifidemand-Clip1-lg.mp4" type="video/mp4">
      Video not Suported
    </video>
  </div>

  <div class="container va-container fade-in three">
    <div class="va-middle">
      <h1 class="jumbo-header">Get Connected</h1>
      <h4 class="jumbo-sub-header">Be a part of bringing better internet to your community</h4>
      <a href="#/locations" title="" class="btn btn-jumbo btn-lg btn-home btn-home-mobile hidden-sm hidden-md hidden-lg">Take Action</a>
      <a href="#/locations" title="" class="btn btn-jumbo btn-lg btn-home btn-home-desktop hidden-xs">Take Action</a>
    </div>
  </div>
</div>

<!-- Home page modules -->

<div class="container module-container va-container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 module module-img">
      <img class="img-responsive" src="../img/family-room-wifi.png">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 module module-text va-middle">
      <h4>Vision</h4>
      <p>To provide better internet connectivity to communities in need</p>
      </div>
    </div>
  </div>
</div>
<div class="container module-container va-container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 module module-img">
      <img class="img-responsive" src="../img/wifidemand-mountain-crop.png">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 module module-text va-middle">
      <h4>Mission</h4>
      <p>Identify underserved areas of internet connectivity and demonstrate viability for network investment</p>
      </div>
    </div>
  </div>
</div>
