#submit-loc-btn {
  clear: both !important;
}

.options-div {
  // text-align: left;
  width: 20rem;
  display: inline-block;
  #opt-label {
    clear:both;
    vertical-align: middle;
  }

  #add-option {
    float: right;
  }
}

#fdata {

}

.table-css {
  display: table;
}

.t-row {
  display: table-row;
  border-bottom: 1px solid black;
}

.t-cell{
  display: table-cell;
}

