.progress-summary {
  text-align: center;
  .rowe {
    display: inline-block;
  }

  .tally-count {
    font-size: 2rem;
    padding: 2rem;
    display: inline-block;
    border-left: 2px dotted black;
  }

  .tally-percent {
    font-size: 2rem;
    padding: 2rem;
    display: inline-block;
    border-right: 2px dotted black;
  }
}

.form-head {
  margin-bottom: 4rem;
}

.success {
  h2 {
    text-align: center;
    margin-top: 12rem;
  }
}

.share {
  text-align:center;
  vertical-align: middle;
  #share-text {
    display: block;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    padding: auto;
  }

  #share-buttons {
    vertical-align: middle;
    text-align: center;
    margin: auto;

    img {
      text-align: center;
      vertical-align: middle;
      width: 7.5rem;
      padding: 5px;
      border: 0;
      box-shadow: 0;
      display: inline;
    }
  }
}
