@import "../libs/bootstrap/less/bootstrap.less";
@import "form.less";
@import "admin.less";
@import "index.less";

@border-radius: 5px;

html {
  font-size: 10px;
  overflow: hidden;
  height: 100%;
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ecf0f1;
    font-family: 'Istok Web', 'Helvetica Neue', sans-serif;
    color: rgb(86, 90, 92);
  }
}

.navbar {
  margin-bottom: 0 !important;
  font-family: 'Istok Web', 'Helvetica Neue', sans-serif;
}

.navbar-default {
  background-color: #fff !important;
  border-color: #fff !important;
}

body {
  overflow: auto;
  height: 100%;
}

.modal-open {
  overflow: auto;
}

.progress {
  &.back-container{
    @media (min-width: 1240px){
      margin-left: 16%;
    }
  }
}

