// @border-color: #000000;
// @main-border-color: orange;
// @main-button-color: green;



html {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ecf0f1;
    font-family: 'Istok Web', 'Helvetica Neue', sans-serif;
    color: rgb(86, 90, 92);
  }
}

.navbar {
  margin-bottom: 0 !important;
  font-family: 'Istok Web', 'Helvetica Neue', sans-serif;
}

.navbar-default {
  background-color: #fff !important;
  border-color: #fff !important;
}

@import "index.less";
@import "form.less";
@import "admin.less";
@import "../libs/bootstrap/less/bootstrap.less";
